USE [master]
GO
/****** Object:  Database [ShopPrimeVue2016]    Script Date: 14.10.2025 17:12:40 ******/
CREATE DATABASE [ShopPrimeVue2016]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopPrimeVue2016', FILENAME = N'D:\WORK\_2025\vue\ShopPrimeVue\DATA\ShopPrimeVue2016.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopPrimeVue2016_log', FILENAME = N'D:\WORK\_2025\vue\ShopPrimeVue\DATA\ShopPrimeVue2016_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopPrimeVue2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopPrimeVue2016]
GO
USE [ShopPrimeVue2016]
GO
/****** Object:  UserDefinedFunction [dbo].[getNewOrderNumber]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getNewOrderNumber] ()
RETURNS nvarchar(20)
AS
BEGIN

DECLARE @Number nvarchar(20);

 
 
 
SET @Number = (select CAST( Datepart(DAY, GETDATE()) as nvarchar(2)) + '.' +  CAST( Datepart(MONTH, GETDATE()) as nvarchar(2)) + '.' + CAST( Datepart(YEAR, GETDATE()) as nvarchar(4)) + '/'
   + (  select CAST( COUNT(*)+1 AS nvarchar(4)) FROM OrderHead 
  WHERE orderData BETWEEN (SELECT CAST(GETDATE() AS date)) AND DAteAdd(DAY, 1, (SELECT CAST(GETDATE() AS date)))));

	 
	 RETURN @Number;

END
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Foto] [nvarchar](500) NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Qty] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderDetailView]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[OrderDetailView] AS
  SELECT 
  O.id,
  O.orderId,
  O.ProductId,
  O.Qty,
  P.ProductName,
  P.Price,
  O.Qty * P.Price as RowSum
  FROM
  OrderDetail O
  LEFT JOIN Product P ON P.Id = O.ProductId;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Role] [nvarchar](250) NOT NULL,
	[UsersName] [nvarchar](250) NOT NULL,
	[isAppruved] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UsersNameUnique] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHead]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHead](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[orderNumber] [nvarchar](250) NULL,
	[orderData] [date] NULL,
 CONSTRAINT [PK_OrderHead] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderHeadView]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[OrderHeadView] AS
  SELECT 
  H.id,
  H.orderNumber,
  H.userId,
  U.UsersName,
  H.orderData,
 ISNULL( SUM(D.Qty * P.Price), 0) as TotalPrice
  FROM OrderHead H
  LEFT JOIN OrderDetail D ON D.orderId = H.id
  LEFT JOIN  [Product] P ON P.Id = D.ProductId
  LEFT JOIN [Users] U ON U.id = H.userId
  GROUP BY 
    H.id,
  H.orderNumber,
  H.userId,
  U.UsersName,
  H.orderData;
GO
/****** Object:  Table [dbo].[Category]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductView]    Script Date: 14.10.2025 17:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductView] AS
SELECT 
P.id, 
P.ProductName,
P.Price,
P.CategoryId,
C.CategoryName,
P.Foto

FROM 
[Product] P  LEFT JOIN Category C
ON C.id = P.CategoryId;
GO
ALTER TABLE [dbo].[OrderHead] ADD  CONSTRAINT [DF_OrderHead_orderNumber]  DEFAULT ([dbo].[getNewOrderNumber]()) FOR [orderNumber]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Goods_GoodsName]  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Goods_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Foto]  DEFAULT (N'') FOR [Foto]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [isAppruved]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_OrderHead] FOREIGN KEY([orderId])
REFERENCES [dbo].[OrderHead] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_OrderHead]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderHead]  WITH CHECK ADD  CONSTRAINT [FK_OrderHead_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderHead] CHECK CONSTRAINT [FK_OrderHead_Users]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
